
@font-face {
    
    font-family: aquire;
    src: url(../aquire-font/AquireBold-8Ma60.otf);
   }

   @font-face {
    font-family: mars;
    src: url(../Mars/Mars\ Thin.ttf);
   }

   @font-face {
    font-family: aquatico;
    src: url(../aquatico/Aquatico/Aquatico-Regular.otf);
   }

   @font-face {
    font-family: randolph;
    src: url(../randolph-unique-sans-serif-font/Randolph/RANDOLPH.woff);
   }

   @font-face {
    font-family: glitch;
    src: url(../cf_glitch_city/CFGlitchCity-Regular.ttf);
   }

   @font-face {
    font-family: larken;
    src: url(../Larken-Serif-Trial-Font/LarkenDEMO-Black.otf);
   }

   @font-face {
    font-family: lumi;
    src: url(../lumiera/Lumiera.ttf);
   }



body{
    margin: 0;
    background: linear-gradient(#30142b, #2772a1);
}


#top{
    
    
}
    
    #footer{
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: lightyellow;
        text-align: center;
    }


.nav-item{
    padding-right: 100px;
    color: black;
   
}



a.nav-link {
    background-image: linear-gradient(
      to right,
      rgb(215, 137, 252),
      #7cc0ff 50%,
      rgb(255, 255, 255) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a.nav-link:before {
    content: '';
    background: #ffffff;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a.nav-link:hover {
   background-position: 0;
  }
  
  a.nav-link:hover::before {
    width:100%;
  }

.main-results{
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
    text-align: center;
    margin: auto;
    font-family: aquatico;
}



.styled-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    font-size: 20px;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    font-family: lumi;
    font-size: 30px;
}

.styled-table th {
    font-family: larken;

}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #ffffff;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #ffffff;
}
.filter-list { display: none; }

.filter-select-box {
  position: relative;
  margin-bottom: 25px;
}

.filter-select {
  background: var(--eerie-black-2);
  color: var(--light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
}

.filter-select.active .select-icon { transform: rotate(0.5turn); }

.select-list {
  background: var(--eerie-black-2);
  position: absolute;
  top: calc(100% + 6px);
  width: 100%;
  padding: 6px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in-out;
}

.filter-select.active + .select-list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.select-item button {
  background: var(--eerie-black-2);
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  text-transform: capitalize;
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
}

.select-item button:hover { --eerie-black-2: hsl(240, 2%, 20%); }

.project-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 10px;
}

.project-item { display: none; }

.project-item.active {
  display: block;
  animation: scaleUp 0.25s ease forwards;
}

@keyframes scaleUp {
  0% { transform: scale(0.5); }
  100% { transform: scale(1); }
}

.project-item > a { width: 100%; }

.project-img {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 15px;
}

.project-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  transition: var(--transition-1);
}

.project-item > a:hover .project-img::before { background: hsla(0, 0%, 0%, 0.5); }

.project-item-icon-box {
  --scale: 0.8;

  background: var(--jet);
  color: var(--orange-yellow-crayola);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
  font-size: 20px;
  padding: 18px;
  border-radius: 12px;
  opacity: 0;
  z-index: 1;
  transition: var(--transition-1);
}

.project-item > a:hover .project-item-icon-box {
  --scale: 1;
  opacity: 1;
}

.project-item-icon-box ion-icon { --ionicon-stroke-width: 50px; }

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-1);
}

.project-item > a:hover img { transform: scale(1.1); }

.project-title,
.project-category { margin-left: 10px; }

.project-title {
  color: var(--white-2);
  font-size: var(--fs-5);
  font-weight: var(--fw-400);
  text-transform: capitalize;
  line-height: 1.3;
}

.project-category {
  color: var(--light-gray-70);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
}

@media (min-width: 768px) {


    .article-title { padding-bottom: 20px; }
  
    .filter-select-box { display: none; }
  
    .filter-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 25px;
      padding-left: 5px;
      margin-bottom: 30px;
    }
  
    .filter-item button {
      color: var(--light-gray);
      font-size: var(--fs-5);
      transition: var(--transition-1);
    }
  
    .filter-item button:hover { color: var(--light-gray-70); }
  
    .filter-item button.active { color: var(--orange-yellow-crayola); }
  
  
    .project-list, .blog-posts-list { grid-template-columns: 1fr 1fr; }
  
  
  
    
    }
    .h2-article-title {
        font-family: 'Times New Roman', Times, serif;

    }